.signup-form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    min-width: 23em;
}

.signup-form-wrapper input  {
    height: 3em;
    width: 100%;
    padding: 0.2em;
}

.signup-form-wrapper button {
    height: 3em;
    background-color: var(--airbnb);
    color: var(--white);
}

.signup-form-wrapper p {
    color: darkred;
    font-size: 0.8em;
}
