@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap');

* {
    padding: none;
    border: none;
}

body {
    font-family: 'Manrope', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 0 5%;
}

:root {
    --airbnb: #FF385C;
    --white: #FFFFFF;
}

li {
    list-style: none;
    margin-left: -1.25em;
}

a {
    text-decoration: none;
    color: #222222;
}
