/* TODO Add site wide styles */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap');

body {
    font-family: 'Manrope', sans-serif;
}

:root {
    --airbnb: #FF385C;
}

* {
    padding: none;
    border: none;
}

li {
    list-style: none;
    margin-left: -1em;
}

a {
    text-decoration: none;
}
