.hidden {
    display: none;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-wrapper {
    display: relative;
}

.nav ul {

}

.home-button {
    font-size: 2em;
}

.home-button span {
    color: var(--airbnb);
}
.profile-button {
    background: transparent;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    border-radius: 21px;
    transition: box-shadow 0.2s ease;
    position: relative;
    width: 77px;
    height: 42px;
    position: relative;
    padding: 5px 5px 5px 12px;
    align-items: center;
    float: right;
}

.profile-button .fa-bars {
    font-size: 1em;
}

.profile-button img {
    width: 30px;
    height: 30px;
    border-radius: 21px;
}

.profile-dropdown {
    position: absolute;
    margin-top: 3em;
    width: 12em;
    background-color: var(--white);
    margin-left: -7.5em;
    padding: 0.5em;
    border: 2px solid grey;
}

.profile-dropdown li {
    margin-left: 0;
    font-size: 0.9em;
    display: flex;
    flex-direction: column;
}

.profile-dropdown button {
    margin: 0 auto;
    align-self: center;
    border-radius: 25%;
    padding: 0.5em 1em;
    margin-top: 0.5em;
    align-self: center;
}

.navlinks {
    border-top: 2px solid grey;
    border-bottom: 2px solid grey;
}
