.hidden {
    display: none;
}

.nav {
    border: 2px solid red;
    display: flex;
    justify-content: space-between;
}

.home-button {
    border: 2px solid hotpink;
    font-size: 2em;
}

.home-button span {
    color: var(--airbnb);
}
.profile-button {
    border: 2px solid blue;
}
